*.pyc
build
dist
setuptools-*
.DS_Store
*.so
nohup.out
*.orig
*.rej
*~
*.o
*.pyo
tests/*.err
*.swp
store/*
*.log
*.egg-info
dist/
doc/_build/
distribute-*
pip-log.txt
.coverage
data/
*.egg
.tox
out.txt
junit*.xml
